run = ["bash", "main.sh"]
language = "bash"
entrypoint = "main.sh"

[env]
DB_TYPE="sqlite3"
DB_HOST="sql.freedb.tech"
DB_PORT="3306"
DB_USER="freedb_freedb_fzhqz_db"
DB_PASS="%vmw5ZJ8?CWMbDs"
DB_NAME="freedb_fzhqz_db"
DB_TABLE_PREFIX="alist_"
DB_SLL_MODE="true"
